<div class="jumbotron jumbotron-fluid">
</div>

<div class="main">
  
    <section class="galeria1">
        <div data-aos="flip-up" data-aos-duration="1500"><h1 style="color: #67A8E9; font-family:cursive; text-shadow: 2px 2px #E7F066;">Concierto Disney</h1></div><br>    
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/band.jpg" alt="Card image cap"> 
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/bateria.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/big.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/enrique disney.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/gente1.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/gente2.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/guitarra.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/mascara.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/percu.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="card-group">
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/piano.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/sax.jpg" alt="Card image cap">
            </div>
            <div class="card">
                <img class="card-img-top" src="./../../../assets/imagenes/disney/voz.jpg" alt="Card image cap">
            </div>
        </div>
    </section>
    <section class="galeria2">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="17" aria-label="Slide 18"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="18" aria-label="Slide 19"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="19" aria-label="Slide 20"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uva.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uva2.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uva3.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uva4.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uva5.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/ensayo_paco.JPG">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/ensayo_saxs.JPG">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/villa_todos.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/villa_sha.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/teatro_morelos.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/teatro_morelos_piano.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/teatro_morelos_voz.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/sax.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/cris.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uni.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uni2.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uni3.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uni4.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uni5.jpg">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="./../../../assets/imagenes/carrusel_2/uni6.jpg">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
   </section>
          
   <section class="galeria3">
        <div class="imgs4">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/calaveras.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/caravanas.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/museo_espacio.jpg">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="imgs4_2">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/disney.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/patio jacarandas.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/feria 2019.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/concierto gala_2.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/concierto gala.jpg">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="./../../../assets/imagenes/promo_eventos/con erju.jpg">
                    </div>
                </div>
            </div>
        </div> 
   </section>
   
</div>
