<div class="main">
        
    <section class="redes">
        <div class="redes1">
            <pre><a href="https://web.facebook.com/GranBandaUniversitaria" target="_blank"><img src="./../../../assets/imagenes/facebook-f-brands.svg" width="20px;" alt=""></a>  <strong>Gran Banda Universitaria</strong></pre>
            <pre><a href="https://www.youtube.com/channel/UCkQfnd48SlthFqTtivD6_bw" target="_blank"><img src="./../../../assets/imagenes/youtube-brands.svg" width="30px;" alt=""></a> <strong>Big Band UAA</strong></pre>
            <pre><img src="./../../../assets/imagenes/envelope-regular.svg" width="30px;" alt=""> <strong>paco2027@hotmail.com</strong></pre> 
            <pre><a href=""><img src="./../../../assets/imagenes/instagram-brands.svg" width="30px;" alt=""></a> <strong>Big Band UAA</strong></pre>  
        </div>
        
        <div class="form">
            <p>
                Formamos parte del departamento de actividades artísticas y culturales del centro de educación media de la Universidad Autónoma de Aguascalientes, nuestros ensayos son realizados en la escuela de arte <strong>SECUAA.</strong>
            </p>
        </div>  
                                  
    </section>
    
    <section class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3702.3263068616916!2d-102.28235943971325!3d21.883506979623217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee727f976119%3A0xfb3896583e6b7ccc!2sSecUAA!5e0!3m2!1ses!2smx!4v1586965715912!5m2!1ses!2smx" width="100%" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
    
</div> 