<div class="jumbotron jumbotron-fluid">
</div>

<div class="main">
    
    <div class="info1" data-aos="fade-up-right" data-aos-duration="1500">
        <p>
            La Big Band inicia en el periodo del M. en Admón. Mario Andrade Cervantes en el año 2013 quien impulsó los grupos musicales representativos de la <b>Universidad Autónoma de Aguascalientes.</b> Gracias a la continuidad y gran apoyo del rector <b> Dr. en C. Francisco Javier Avelar González </b> este proyecto sigue alcanzando mayores y mejores resultados impactando culturalmente de forma directa en la comunidad universitaria.
        </p>
    </div>
    
    <section class="info2">
       
       <div class="texto2">
           <p>
               Dirigida actualmente por el <b>M.E. Francisco Javier López Alba</b> integrada por 25 jóvenes estudiantes de bachillerato y licenciatura, contando con el apoyo del Decano del centro de Educación Media <b> M. en C. de la Educ.  Julio Óscar Rascón Zaragoza</b> y la jefa del departamento de Act. artísticas y culturales  <b>M.G.C. Verónica Zegbe Domínguez.</b> La Big Band ha logrado posicionarse como una de las agrupaciones juveniles más importantes del Estado de Aguascalientes contando con público cautivo de todas las edades que asisten a todos sus conciertos.
           </p>
       </div>
       <div class="media2">
           <img src="./../../../assets/imagenes/trayectoria.jpg" width="100%;" alt=""> 
       </div>
        
    </section>
    
    <section class="info3" data-aos="flip-up" data-aos-duration="1200">
        <p>
            La Big Band ha destacadó por participar en los mejores eventos culturales del Estado de Aguascalientes así como los foros de mayor importancia dentro de la U.A.A. Por mencionar algunas participaciones como lo fueron el Congreso internacional de Patología, Ferias Universitarias, ediciones de la Feria Nacional de San Marcos, dos conciertos de Gala al año en el Teatro Morelos, Festival de Calaveras, Villa Navidad, Feria del Libro, Concierto Navideño en el <b>Teatro Aguascalientes</b> y el más reciente: <b>Concierto Disney</b> en el Teatro Morelos. 
        </p>
    </section>
</div>